[submodule "SapFire/vendor/spdlog"]
	path = SapFire/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SapFire/vendor/GLFW"]
	path = SapFire/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
